# Archivos binarios y ejecutables
/bin/
*.exe
*.dll
*.exe~
*.dll~
*.exe.bak
*.dll.bak
*.log

# Dependencias y módulos
/vendor/
/go.sum

# Archivos de configuración específicos de IDE
.idea/
.vscode/

# Documentación generada
/docs/swagger/
/docs/swagger.json
/docs/swagger.yaml

# Otros archivos generados durante el desarrollo
/main